{% extends "challenge.html" %}
{% set resolved_target = challenge.resolved_target %}
{% set resolved_bastion = challenge.resolved_bastion_name %}
{% set resolved_bastion_command = challenge.resolved_bastion_command %}

{% block description %}
<div
  class="alert alert-info"
  role="alert"
>
  {% if resolved_target and resolved_bastion %}
    <p id="ssh-ping-target-info" data-resolved="{{ resolved_target }}" data-bastion="{{ resolved_bastion }}">
      This challenge will attempt to reach {{ resolved_target }} from {{ resolved_bastion }}.
    </p>
  {% else %}
    <p id="ssh-ping-target-info">No pod has been assigned to your team yet.</p>
  {% endif %}
</div>
{{ super() }}
{% endblock %}

{% block input %}
  <input
    id="challenge-id" class="challenge-id" type="hidden"
    value="{{ challenge.id }}"
  >
  <input
    id="challenge-input" class="challenge-input form-control"
    type="text" name="submission"
    data-resolved="{{ resolved_target or '' }}"
    data-bastion="{{ resolved_bastion or '' }}"
    value="{% if resolved_bastion and resolved_bastion_command %}
      {{ resolved_bastion }}$ {{ resolved_bastion_command }}
    {% else %}
      Unable to attempt ping as target is unknown. Please contact the administrators.
    {% endif %}" readonly
    disabled>
{% endblock %}

{% block submit %}
  <button
      id="challenge-submit"
      class="challenge-submit btn btn-outline-secondary w-100 h-100" type="submit"
      @click.debounce.500ms="submitChallenge()"
      {% if not resolved_bastion %}disabled title="Pod assignment required"{% endif %}
  >
    Run
  </button>
{% endblock %}
